// $main-color: #521751; //Variable Declaration in Sass For 1 Value Known as Variable
$colors: (
  main: #521751,
  secondary: #fa923f,
); //If More than 1 property of specified element we can use map
$border-default: 0.05rem solid map-get($colors, main); //More then 1 Value declaration is Known as List
$size-default: 1rem;
